@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Playfair Display", serif; */
/*  font-family: "Poppins", sans-serif; */

/* ============================================================ */
/* ========================== //navbar ================================= */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.1rem solid gray !important;
}

.active {
  border-bottom: 1px solid black;
}

/* ============================================================ */
/* ========================== //footer ================================= */

.footerlinks {
  color: #fff !important;
}

.footerlinks .footerlink {
  color: #fff !important;
  text-decoration: none;
  margin-left: 0.3rem;
  transition: 0.2s ease;
}

.footerlinks .footerlink:hover {
  color: #f1f1f1 !important;
  font-weight: 500;
  font-size: 1.2rem;
}

/* ============================================================ */
/* ========================== //page not found ================================= */

.pnf {
  font-family: "Playfair Display", serif;
  min-height: 50vh;
  text-align: center;
  margin-top: 25vh;
}

.pnf-title {
  font-size: 10rem;
}

.pnf-message {
  font-size: 3rem;
}

.pnf-btn {
  font-size: 1.5rem;
  border: none;
  border: 1px solid #df3e3eff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

.pnf-btn:hover {
  color: #fff;
  background-color: #df3e3eff;
}

/* ============================================================ */
/* ========================== //contact ================================= */

.contact-img img {
  max-width: 49vw;
}
.half-img {
  max-width: 49vw;
}

.contact-details {
  margin-left: 5vw;
  box-sizing: border-box;
  margin-top: 25vh;
  max-width: 40vw;
}
.contact-us-heading {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.contact-us-para {
  font-size: 1.5rem;
}

.contat-us-info {
  font-size: 1.2rem;
}

.contact-container.row {
  --bs-gutter-x: 0 !important;
}

@media (max-width: 649px) {
  .contact-img img {
    max-width: 100vw;
  }
  .contact-details {
    /* margin-left: 5vw; */
    /* box-sizing: border-box; */
    /* margin-top: 25vh; */
    max-width: 95vw;
  }
  .contact-us-heading {
    max-width: 90vw;
  }
  .half-img {
    max-width: 100vw;
  }
}

/* ============================================================ */
/* ========================== //register ================================= */

.register-container {
  display: flex;
  align-items: center;
}
.register {
  background-color: #ddddddff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
}

.smooth-link {
  position: relative;
  text-decoration: none;
  color: #007bff;
  padding-bottom: 3px;
  transition: 0.3s ease;
}

.smooth-link:hover {
  font-size: 1.2rem;
}

.page-transition-singup {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(35px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.page-transition-login {
  animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(35px);
  }
}
